# Formula 1 Driver Performance Analysis (2023-2024)

The goal of this notebook is to analyze the changes in lap times and overall performance of each driver from the 2023 to the 2024 Formula 1 Season.

### Table of Contents
- [Load Data](#Load-Data)

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import os
import seaborn as sns

### Load Data

Declare path where data is stored

In [2]:
PATH = '../data/'

Load drivers dataframe

In [3]:
df_drivers = pd.read_csv(PATH+'drivers.csv')
df_drivers.shape

(859, 9)

In [4]:
df_drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

Load driver standings dataframe

In [5]:
df_driver_standings = pd.read_csv(PATH+'driver_standings.csv')
df_driver_standings.shape

(34595, 7)

In [6]:
df_driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

Load lap times dataframe

In [7]:
df_lap_times = pd.read_csv(PATH+'lap_times.csv')
df_lap_times.shape

(575029, 6)

In [8]:
df_lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

Load qualifying dataframe

In [9]:
df_qualifying = pd.read_csv(PATH+'qualifying.csv')
df_qualifying.shape

(10254, 9)

In [10]:
df_qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

Load races dataframe

In [11]:
df_races = pd.read_csv(PATH+'qualifying.csv')
df_races.shape

(10254, 9)

In [12]:
df_races.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

Load results dataframe

In [13]:
df_results = pd.read_csv(PATH+'results.csv')
df_results.shape

(26519, 18)

In [14]:
df_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

#### Data Successfully Loaded:
```
data
└───drivers.csv          -> df_drivers
└───driver_standings.csv -> df_driver_standings
└───lap_times.csv        -> df_lap_times
└───qualifying.csv       -> df_qualifying
└───races.csv            -> df_races
└───results.csv          -> df_results
```